@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-google-sans: "Google Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-primary: #202124;
  --color-secondary: #5f6368;
  --color-accent: #01875f;
}
